<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSgFxH1uiYzePFvCxUXRxx_0jBe37i_QY</string>
	<key>GCM_SENDER_ID</key>
	<string>966016196654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ruspersonal.diplom</string>
	<key>PROJECT_ID</key>
	<string>diplom-bc4f4</string>
	<key>STORAGE_BUCKET</key>
	<string>diplom-bc4f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966016196654:ios:2f4a353207fd9712527fbf</string>
</dict>
</plist>